<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            id="be.ugent.intec.ibcn.dbase.tooling.contribution1">
         <menu
               label="Tooling"
               path="additions"
               id="be.ugent.intec.ibcn.dbase.tooling.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="be.ugent.intec.ibcn.dbase.tooling.popup.OpenMonitoringDialogAction"
               enablesFor="1"
               id="be.ugent.intec.ibcn.dbase.tooling.newAction2"
               label="Add monitoring"
               menubarPath="be.ugent.intec.ibcn.dbase.tooling.menu1/group1">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.bpmn2.modeler.runtime">
      <runtime
            class="be.ugent.intec.ibcn.dbase.tooling.editor.Bpmn2RuntimeExtension"
            id="be.ugent.intec.ibcn.dbase.tooling.runtime"
            name="dbase-workflow">
      </runtime>
      <customTask
            featureContainer="be.ugent.intec.ibcn.dbase.tooling.editor.MonitoringPointFeatureContainer"
            id="be.ugent.intec.ibcn.dbase.tooling.monitoringPoint"
            name="Monitorint Point"
            runtimeId="be.ugent.intec.ibcn.dbase.tooling.runtime"
            type="IntermediateThrowEvent">
         <property
               name="type"
               value="MonitoringPoint">
         </property>
      </customTask>
   </extension>
   <extension
         point="org.eclipse.emf.validation.constraintProviders">
      <constraintProvider
            cache="true">
         <package
               namespaceUri="http://www.omg.org/spec/BPMN/20100524/MODEL-XMI">
         </package>
         <constraints
               categories="org.eclipse.bpmn2.modeler.core.validation.category.override">
            <constraint
                  class="be.ugent.intec.ibcn.dbase.tooling.editor.constraint"
                  id="be.ugent.intec.ibcn.dbase.tooling.constraint1"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="Collaboration"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <target
                     class="Collaboration">
               </target>
            </constraint>
            <constraint
                  class="be.ugent.intec.ibcn.dbase.tooling.editor.constraint"
                  id="be.ugent.intec.ibcn.dbase.tooling.constraint"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="Process"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <target
                     class="Process">
               </target>
            </constraint>
         </constraints>
      </constraintProvider>
      <category
            id="be.ugent.intec.ibcn.dbase.tooling.category"
            name="%category.name.20">
      </category>
   </extension>
   <extension
         point="org.eclipse.emf.validation.constraintBindings">
      <clientContext
            default="false"
            id="be.ugent.intec.ibcn.dbase.tooling.clientContext1">
      </clientContext>
   </extension>

</plugin>
